li .task-detail span {
    opacity: 0;
    transition: opacity 0.5s;
}

li:hover .task-detail span, li .task-detail:hover span {
    opacity: 1;
    transition: opacity .2s;
}

.nav.nav-sidebar li:hover {
    background-color: #eee;
}

.no-hover:hover {
    text-decoration: none;
}

.nav-sidebar .badge {
    background-color: #337ab7;
    color: #fff;
}
.nav-sidebar a:hover .badge {
    background-color: #23527c;
}

.nav-sidebar .active .badge {
    background-color: #fff;
    color: #337ab7;
}
.nav-sidebar .active a:hover .badge {
    background-color: #fff;
}

.nav-sidebar li a.priority1 {
    border-left: 5px #d9534f solid;
}

.nav-sidebar li a.priority0 {
    border-left: 5px #5bc0de solid;
}

.nav-sidebar li a.priority-1 {
    border-left: 5px #777 solid;
}

.bs-callout1{border-left-color: #d9534f;}
.bs-callout1 h4{color: #ce4844;}
.bs-callout0 {border-left-color: #428bca;}
.bs-callout0 h4{color: #337ab7;}
.bs-callout-1{border-left-color: #ccc;}
.bs-callout-1 h4{color: #555;}

.bs-callout .description {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid #eee;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bs-callout h4 {
    margin-bottom: 15px;
}

/* styles for '...' */
.block-with-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}