li .task-detail span {
    opacity: 0;
    transition: opacity 0.5s;
}

li:hover .task-detail span, li .task-detail:hover span {
    opacity: 1;
    transition: opacity .2s;
}

.nav.nav-sidebar li:hover {
    background-color: #eee;
}

.no-hover:hover {
    text-decoration: none;
}

.nav-sidebar .badge {
    background-color: #337ab7;
    color: #fff;
}
.nav-sidebar a:hover .badge {
    background-color: #23527c;
}

.nav-sidebar .active .badge {
    background-color: #fff;
    color: #337ab7;
}
.nav-sidebar .active a:hover .badge {
    background-color: #fff;
}

.nav-sidebar li a.priority1 {
    border-left: 5px #d9534f solid;
}

.nav-sidebar li a.priority0 {
    border-left: 5px #5bc0de solid;
}

.nav-sidebar li a.priority-1 {
    border-left: 5px #777 solid;
}