@media only screen and (max-width: 760px) {
    #no-mobile-element {
        display: none;
    }
}

body.js-enabled .js-hide {
    display: none;
}

.nav.nav-sidebar li:hover {
    background-color: #eee;
}

.no-hover:hover {
    text-decoration: none;
}

.nav-sidebar .badge {
    background-color: #337ab7;
    color: #fff;
}

.nav-sidebar a:hover .badge {
    background-color: #23527c;
}

.nav-sidebar .active .badge {
    background-color: #fff;
    color: #337ab7;
}

.nav-sidebar .active a:hover .badge {
    background-color: #fff;
}

.nav-sidebar li a.priority1 {
    border-left: 5px #d9534f solid;
}

.nav-sidebar li a.priority0 {
    border-left: 5px #5bc0de solid;
}

.nav-sidebar li a.priority-1 {
    border-left: 5px #777 solid;
}

.bs-callout1 {
    border-left-color: #d9534f;
}

.bs-callout1 h4 {
    color: #ce4844;
}

.bs-callout0 {
    border-left-color: #428bca;
}

.bs-callout0 h4 {
    color: #337ab7;
}

.bs-callout-1 {
    border-left-color: #ccc;
}

.bs-callout-1 h4 {
    color: #555;
}

.bs-callout .description {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid #eee;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bs-callout h4 {
    margin-bottom: 15px;
    margin-right: 35px;
}

.bs-callout a.dropdown-toggle {
    line-height: 1;
    padding: 2px 5px 1px 5px;
    margin-top: -12px;
}

/* styles for '...' */
.block-with-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.thumbs {
    margin-bottom: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.thumbs li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

}
ul.thumbs a {
    text-decoration: none;
}

ul.thumbs .img-thumbnail {
    width: 190px;
    height: 150px;
}

ul.thumbs div.img-thumbnail {
    vertical-align: middle;
    text-align: center;
}

ul.thumbs div.img-thumbnail div.in {
    display: inline-block;
    background-color: #eee;
    width: 100%;
    height: 100%;
    line-height: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 64px;
}

ul.thumbs .filename {
    font-size: 12px;
    width: 190px;
}

ul.thumbs .info {
    width: 190px;
}

ul.thumbs .info .size {
    font-size: 10px;
}

ul.thumbs .info .date {
    font-size: 10px;
}

ul.thumbs .menu {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    width: 180px;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 5px;
}

ul.thumbs .menu li {
    float: right;
    margin-bottom: 0;
    margin-right: 5px;
    list-style-type: none;
}

ul.thumbs .menu li a {
    color: #fff;
}

ul.thumbs .menu li a:hover {
    color: #ccc;
}

ul.thumbs.acc-files .img-thumbnail {
    width: 133px;
    height: 105px;
}

ul.thumbs.acc-files .menu {
    width: 123px;
}

ul.thumbs.acc-files .filename {
    width: 133px;
}

ul.thumbs.acc-files .info {
    width: 133px;
}

ul.thumbs.acc-files > li {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 50px;
}

ul.thumbs.acc-files h2 {
    margin-top: 0;
}

ul.thumbs.acc-files .description {
    display: inline-block;
    overflow: hidden;
    max-width: 100%
}

ul.thumbs.acc-files .description .descr {
    height: 85px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid #eee;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.thumbs.acc-files div.img-thumbnail div.in {
    line-height: 90px;
}

.project-nav {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.project-nav-wrap .dropdown-menu {
    right: 0;
    left: auto;
}

.project-nav-wrap a:focus {
    background-color: transparent !important;
}

.active.project-nav-wrap a:focus {
    background-color: #428bca !important;
}

.project-nav-wrap.open a.project-nav {
    background-color: #eee !important;
}

.active.project-nav-wrap.open a.project-nav {
    background-color: #428bca !important;
}

.project-nav-wrap .project-nav span.sign {
    visibility: hidden;
}

.project-nav-wrap:hover .project-nav span.sign,
.project-nav:hover span.sign {
    visibility: visible;
}

.mobile-device .project-nav-wrap .project-nav span.sign,
.project-nav-wrap.open .project-nav span.sign {
    visibility: visible !important;
}

.nav-file a {
    max-width: 200px;
}

.nav-file .img-thumbnail-micro {
    width: 19px;
    height: 15px;
}

.nav-file div.img-thumbnail-micro {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    line-height: 50%;
}

.nav-file div.img-thumbnail-micro div.in {
    display: inline-block;
    background-color: #999;
    width: 100%;
    height: 100%;
    line-height: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 8px;
}

.mobile-hidden {
    display: inline-block !important;
}

.mobile-device .mobile-hidden {
    display: none !important;
}

.mobile-inline-block {
    display: none !important;
}

.mobile-device .mobile-inline-block {
    display: inline-block !important;
}

#description-secret {
    display: none;
}

.task-title .label {
    font-size: 50%;
    vertical-align: middle;
}

/* order list */
#accordion .order-list-more .glyphicon {
    color: #333;
}

#accordion .order-list-more.collapsed .glyphicon-collapse-down {
    display: inline-block;
}

#accordion .order-list-more.collapsed .glyphicon-collapse-up {
    display: none;
}

#accordion .order-list-more .glyphicon-collapse-down {
    display: none;
}

#accordion .order-list-more .glyphicon-collapse-up {
    display: inline-block;
}

#accordion td.order-list-detail {
    padding: 0 8px !important;
}

#accordion div.order-list-border {
    height: 8px;
}

#hp .img-wrap {
    text-align: center;
}

#hp .img-wrap {
}

#hp .img01 {
    margin-top: 22px;
}

#hp .img03 {
    margin-top: 27px;
}

#hp h3 {
    color: #fff;
    margin-bottom: 50px;
}

#hp .row-top {
    margin-top: 50px;
}

#hp .row-bottom {
    margin-bottom: 50px;
}

#hp .row-button {
    margin-top: 35px;
}

@media (max-width: 767px) {
    .navbar-fixed-bottom {
        position: static;
    }
}